.mainLayout {
  display: grid;
  height: 100vh;
  width: 100vw;
  background-color: var(--ui-background-primary);
  /* The layout is now fixed with a collapsed sidebar width */
  grid-template-columns: 90px 1fr;


}

.contentArea {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

