.entriesPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.viewContent {
  flex-grow: 1;
  overflow: auto; /* Allows the content (list or calendar) to scroll */
  scrollbar-width: none;
  display: flex; /* Ensures the child takes up the full height */
}

/* Make sure the direct child of viewContent fills the space */
.viewContent > * {
    flex-grow: 1;
}

